@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

table button {
  width: 100%;
  text-align: center;
}

table tr {
  border-bottom: 1px solid black;
  width: 100%;
}

table tr:last-of-type {
  border: none;
}

table tr td {
  border-left: 1px solid red;
  border-right: 1px solid blue;
  color: black;
  padding: 7px;
  width: 50%;
}

table tr td:first-of-type {
  border-left: none;
  text-align: right;
}

table tr td:last-of-type {
  border-right: none;
}

#bigbody {
  width: 200px;
  padding: 10px;
  font-family: Lato, sans-serif;
  padding-top: 0px;
}

#buttonholder {
	text-align: center;
	width: 100%;
	padding-top: 15px;
}

button {
	border-radius: 5px;
	padding: 7px 15px 7px 15px;
	background-color: #eee;
	border: 1px solid black;
	color: black;
	outline: none;
	cursor: pointer;
}

button:hover {
	background-color: #ddd;
}

button:active {
	background-color: #ccc;
}

a {
	text-decoration: none;
	color: darkslateblue;
}