table tr td {
  border-right: 1px solid blue;
  color: black;
  padding: 7px;
}

table tr td:last-of-type {
  border: none;
}

#bigbody {
  width: 200px;
  padding: 10px;
  font-family: Lato, sans-serif;
}

h1 {
  padding: 0;
}
